@import url("https://fonts.googleapis.com/css?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Niconne&display=swap");

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: hsl(221, 28%, 16%) !important;
  max-width: 1380px;
  background-color: rgba(213, 223, 223, 0.815) !important;
  background-image: url(../../images/bg.jpg);
  background-size: cover;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

label {
  margin-bottom: 0rem !important;
}

a {
  text-decoration: none !important;
}

p>a {
  color: #1d2433;
}

p>a:hover {
  color: #d1360f;
}

.wrapper{
  background-color: #ffffff;
  margin: 5px;
  box-shadow: 0 0 5px 0;
}

.avatar {
  border-radius: 50% !important;
  text-align: center;
}

.m20{
  margin: 20px;
}
.ff{
  font-family: 'Caveat', cursive;
}

.my-name{
  font-size: 70px;
}

.tj{
  text-align: justify;
}