@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');
$bg:#ffffff;
$color: #1d2433;
$hover: #d1360f;

body {
    font-family: 'Space Mono', monospace;
    background-image: url(../../images/pic02.jpg);
    background-size: cover;
    color: $color !important;
}

p {
    font-family: 'Space Mono', monospace;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

label {
    margin-bottom: 0rem !important;
}

a {
    text-decoration: none !important;
}

p>a {
    color: $color;
}

p>a:hover {
    color: $hover;
}

//My Name
name {
    font-size: 2.5rem;
    font-family: 'Niconne', cursive;
}

//Whole wrapper
#Wrapper {
    margin: 20px;
}

//Avatar
.avatar {
    border-radius: 50% !important;
    width: auto;
    text-align: center;
    height: 100%;
}

// horizontal line
hr.style {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

// Menu
ul>li>a {
    color: $color !important;
}

ul>li>a:hover {
    font-weight: bold;
    color: $hover !important;
}

//For Active Button 
ul>li>a.active {
    font-weight: bold;
    color: $hover !important;
}

.content {
    font-family: 'Space Mono', monospace;
    min-height: 280px;
}

.tags {
    margin-bottom: 5px;
    background-color: $color !important;
}

// footer i {
//     // color: $bg;
// }